<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2019. This code has been developed by Atsuki Yamaguchi, Mingshuo Zhang, and Fabio Ciravegna, The University of Sheffield. All rights reserved. No part of this code can be used without the explicit written permission by the author
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uk.ac.shef.oak.com6510">

    <uses-feature android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission    android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission	android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission    android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name="uk.ac.shef.oak.com6510.MyView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="uk.ac.shef.oak.com6510.Browse.ShowImageView"
            android:parentActivityName="uk.ac.shef.oak.com6510.MyView"/>

        <activity android:name="uk.ac.shef.oak.com6510.Browse.ShowImageDetailsActivity"/>

        <activity android:name="uk.ac.shef.oak.com6510.StartTrackingView"
            android:parentActivityName="uk.ac.shef.oak.com6510.MyView"/>

        <activity android:name="uk.ac.shef.oak.com6510.Maps"/>

        <activity android:name="uk.ac.shef.oak.com6510.Browse.ShowPathView"
            android:parentActivityName="uk.ac.shef.oak.com6510.MyView"/>

        <activity android:name="uk.ac.shef.oak.com6510.Browse.ShowImageByPathView"
            android:parentActivityName="uk.ac.shef.oak.com6510.Browse.ShowPathView"/>

        <activity android:name=".Browse.ShowImageSortedByPathView"
            android:parentActivityName="uk.ac.shef.oak.com6510.MyView"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>

</manifest>